

 <div> 
<img id="backhover" src="assets/Images/backhover.svg" alt="Image couldn't load">
<img id="brandinghover" src="assets/Images/brandinghover.svg" alt="Image couldn't load">
<img id="birdhover" src="assets/Images/birdhover.svg" alt="Image couldn't load">
</div>
<br>

<div class="hidden">
<div id="navbar" class="d-flex bg-warning justify-content-between">
  
<div class=" flex-fill"><img class="p-1" id="mark" src="https://alumination.sarc-iitb.org/static/img/base/mark.svg" alt="Logo"></div>
<div class=" flex-fill"><a class="p-2" href="">Home</a></div>
<div class=" flex-fill"><a class="p-2" href="">About</a></div> 
<div class=" flex-fill"><a class="p-2" href="">Contact Us</a></div>
<div class="flex-fill mr-2" id="hamburger-icon" (click)="onClickHamburger()" >
  <div class="icon" ></div>
  <div class="icon"></div>
  <div class="icon"></div>
</div>
</div>

</div>
  

<div class="menu">
<div id="hamburger-menu" class="d-flex flex-column justify-content-between">
    <button  class="close float-right" (click)="onClickClose()">
      <div id="close" class="float-right p-3">&times;</div>
      </button>   
   <div class=" flex-fill"><a class="p-3" href="">Home</a></div>
   <div class=" flex-fill"><a class="p-3" href="">About</a></div> 
   <div class=" flex-fill"><a class="p-3" href="">Contact Us</a></div>
</div>
</div> 
  
<div style="background-color:#130b2d; color: white;">
  <div class="container">
  <h1 id="schedule" >Schedule.</h1>
</div>
</div>


<div class="row">
<div class="col-6">
<img id="signstand" src="assets/Images/signstand.svg" alt="Image couldn't load">
<img id="board0" title="Click Me!" class="shake"  (click)="bringImg0()" src="assets/Images/board+0.svg" alt="Image couldn't load">
<img id="board1" title="Click Me!" class="shake" (click)="bringImg1()" src="assets/Images/board+1.svg" alt="Image couldn't load">
<img id="board2" title="Click Me!" class="shake" (click)="bringImg2()" src="assets/Images/board+2.svg" alt="Image couldn't load">
</div> 


<div class="col-6">
<img class="schedule" id="img0" src="assets/Images/scheduleDay0.png" alt="Image couldn't load">
<img class="schedule" id="img1" src="assets/Images/scheduleDay1.png" alt="Image couldn't load">
<img class="schedule" id="img2" src="assets/Images/scheduleDay2.png" alt="Image couldn't load">
</div>
</div>
