#backhover {
    position: relative;
    top: 0px;
    height : 100%;
    width:100%;
    }
    
    #birdhover {
    
    position: absolute;
    top:10%;
    right:13%;
    height: 30%;
    width:30%
    }
    
    #brandinghover {
    
    position: absolute;
    top:10%;
    right:36.5%;
    height:40%;
    width:38%;
    }
 
#mark{
    width: 4rem;
    transition: transform 4s;
    
}
#navbar:hover  #mark{
    background-color: orangered;
    transform: rotate3d(-1,1,0,360deg);
}


#hamburger-menu {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0;z-index:1;
    background-color: rebeccapurple;
}

img.shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

